*{
	margin: 0;
	padding: 0;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
	box-sizing: content-box;
}

html{
	font-size: 8px;
}

a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	height: 9vh;
	background: linear-gradient(to bottom,rgba(45,45,45,98), rgba(45,45,45,98)), center no-repeat;
	background-size: cover;
	position: relative;
  overflow: hidden;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #000;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}


nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}


.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;

}


@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;


	}
	header{
		height: 10vh;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: initial;
		align-items: center;
		height: 10000vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
		margin: 20rem 0 10rem;
	}

  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
		height: 100vh;
		position :absolute;
		



  }


}

#footer__container,#footer__container:before,#footer__container:after,#footer__container *,#footer__container *:before,#footer__container *:after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  letter-spacing: normal;

}
#footer__container{
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;

}
#footer__container a.footer__block {
  display: block;
  color: inherit;
  cursor: pointer;
  text-decoration: none
}

#footer__container {
  font-size: 11px;
  line-height: 1.36364;
  font-weight: 400;
  letter-spacing: -.008em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  background-color: #f2f2f2;
  color: #333;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width:100%;
}
#footer__container a {
  color: #555;
  text-decoration: none
}
#footer__container a:hover {
  color: #333;
  text-decoration: underline
}
#footer__container a.footer__block {
  text-decoration: none
}
#footer__container .footer__container__section {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 22px 30px 0px;
  position:static;
  bottom: 0;
}
#footer__container .footer__label {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;

}
#footer__container .footer__container_section_columns {
  font-size: 14px;
  line-height: 1.42861;
  font-weight: 400;
  letter-spacing: -.016em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 4px;
  padding-bottom: 56px;
  text-align: center;
}
#footer__container.flexbox .footer__container_section_columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
#footer__container .footer__container_section_columns-content {
  margin: 0 auto;
  padding-top: 56px;
  position: relative;
  text-align: center;
  width: 216px;
  z-index: 1
}
#footer__container .footer__container_section_columns-icon {
  margin: 0 auto
}
#footer__container .footer__container_section_columns-icon-financing {
  width: 74px;
  height: 74px;
  background-size: 74px 74px;
  background-repeat: no-repeat;
  background-image: url("../images/icon_large.svg")
}
#footer__container .footer__container_section_columns-icon-help {
  width: 74px;
  height: 74px;
  background-size: 74px 74px;
  background-repeat: no-repeat;
  background-image: url("../images/icon_large (1).svg")
}
#footer__container .footer__container_section_columns-icon-retail {
  width: 74px;
  height: 74px;
  background-size: 74px 74px;
  background-repeat: no-repeat;
  background-image: url("../images/icon_large (2).svg")
}
#footer__container .footer__container_section_columns-icon-shipping {
  width: 74px;
  height: 74px;
  background-size: 74px 74px;
  background-repeat: no-repeat;
  background-image: url("../images/icon_large (3).svg")
}
#footer__container .footer__container_section_columns-title {
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 600;
  letter-spacing: .012em;
  font-family: "SF Pro Display","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 0.125em
}

#footer__container .footer__container_section_columns-copy {
  display: block;
  margin-top: 0.5em
}


#footer__container.flexbox .footer__container_section_columns-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1 25%;
  -ms-flex: 1 25%;
  flex: 1 25%;
  max-width: 410px
}

#footer__container .footer__container__section_2 {
  border-bottom: 1px solid #d6d6d6;
  color: #888;
  padding: 17px 0 11px
}
#footer__container .footer__container__section_2 ol {
  list-style-position: outside;
  margin: 0;
  padding: 0 17px
}
#footer__container .footer__container__section_2 ul {
  list-style: none;
  margin: 0
}
#footer__container .footer__container__section_2 li {
  padding-bottom: 0.8em
}
#footer__container .footer__container__section_2 p,#footer__container .footer__container__section_2 li {
  font-size: 11px;
  line-height: 1.36364;
  font-weight: 400;
  letter-spacing: -.008em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif
}

#footer__container .footer__container__section_2 small {
  font-size: 1em
}

#footer__container .footer__container__section__2__link {
  border-right: 1px solid #d6d6d6;
  margin-right: 7px;
  padding-right: 10px;
  display: inline-block;
  margin-top: 5px;
  white-space: nowrap
}
#footer__container .ac-gf-directory+.footer__container__section__2{
  padding-top: 34px;
  border-top: none
}
@media only screen and (max-width: 480px) {
  #footer__container .footer__container_section_columns {
    flex-direction: column;
    align-items: center;

  }
  #footer__container.flexbox .footer__container_section_columns-column {
      -webkit-flex-basis:100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%
  }
  #footer__container.flexbox .footer__container_section_columns-column:first-child:nth-last-child(2),#footer__container.flexbox .footer__container_section_columns-column:last-child:nth-child(2) {
      -webkit-flex-basis:100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%
  }
  #footer__container .footer__container_section_columns.with-3-columns .footer__container_section_columns-column,#footer__container .footer__container_section_columns.with-3-columns .footer__container_section_columns-column:nth-child(3) {
      width:100%
  }
  #footer__container .footer__container_section_columns.with-2-columns .footer__container_section_columns-column {
      width:100%
  }
}
@media only screen and (max-width: 767px) {

  #footer__container .footer__container_section_columns.with-3-columns .footer__container_section_columns-column {
        width:50%
    }

  #footer__container .footer__container_section_columns.with-3-columns .footer__container_section_columns-column:nth-child(3) {
        width: 100%;
        clear: left
    }

  #footer__container .ac-gf-breadcrumbs {
      border-bottom:1px solid #d6d6d6
  }
  #footer__container .ac-gf-directory-column {
      width:100%
  }

  #footer__container .ac-gf-directory-column-section {
      border-bottom:1px solid #d6d6d6;
      overflow: hidden;
      pointer-events: auto
  }


}

#footer__container .ac-gf-directory-column-section-item:last-child {
  margin-bottom: 0
}
#footer__container .ac-gf-breadcrumbs+.ac-gf-directory {
  padding-top: 0
}

#footer__container .ac-gf-footer {
  border-top: 1px solid #d6d6d6;
  color: #888;
  padding: 17px 0 21px;
  padding-bottom: calc(21px + constant(safe-area-inset-bottom))
}
  @supports (padding: calc(max(0px))) {
      #ac-globalfooter .ac-gf-footer {
          padding-bottom:calc(max(19px, env(safe-area-inset-bottom)))
      }
  }

#footer__container .footer__container__section__2__locale {
  float: right;
  margin-top: 5px;
  position: relative;
  top: -3px;
  z-index: 2;
  white-space: nowrap
}


#footer__container .footer__container__section__2__locale-link {
  border-left: 1px solid #d6d6d6;
  margin-left: 7px;
  padding-left: 11px;
  display: inline
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #footer__container .footer__container__section__2__locale-flag {
      background-image:url("../images/32.png")
  }
}


#footer__container .footer__container__section__2__legal::before,#footer__container .footer__container__section__2__legal::after {
  content: ' ';
  display: table
}

#footer__container .footer__container__section__2__legal::after {
  clear: both;
}
@media only screen and (max-width: 480px) {
  #footer__container .ac-gf-buystrip-hero {
      padding-bottom:16px
  }
  #footer__container .footer__container_section_columns {
      padding-top:8px
  }
  #footer__container .footer__container_section_columns-column {
      width:100%
  }

  #footer__container .footer__container_section_columns-content {
          padding-top:36px
    }
}
@media only screen and (max-width: 767px) {
#footer__container .ac-gf-buystrip-hero-product {
    margin-right:0;
    margin-top: 22px
}
#footer__container .footer__container__section {
    padding:0 16px
}

#footer__container .ac-gf-buystrip-hero-block {
    display:block;
    text-align: center
}

#footer__container .ac-gf-buystrip-hero-title {
    font-size:24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: "SF Pro Display","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif
}

#footer__container .ac-gf-buystrip-hero-title {
    margin-left:auto;
    margin-right: auto
}
#footer__container .ac-gf-directory-column-section ~ .ac-gf-directory-column-section {
    padding-top:0
}
#footer__container .ac-gf-directory-column-section-title {
    font-size:12px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif
}
#footer__container .ac-gf-directory-column-section-title {
    margin-bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f2f2f2;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2
}


#footer__container .ac-gf-directory-column-section-title:hover {
    color: #000
}


#footer__container .ac-gf-directory-column-section-title:after {
    content: '+';
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease
}
#footer__container .ac-gf-directory-column-section-list {
    margin:0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 16px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px)
}
#footer__container .ac-gf-directory-column-section-item {
    margin-bottom:0
}
#footer__container .ac-gf-directory-column-section-link {
    padding:6px 14px;
    display: block
}
#footer__container .ac-gf-directory-column-section-link:focus {
    outline-offset: -6px
}

#footer__container .ac-gf-directory-column-section-anchor {
    display:block
}
#footer__container .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,#footer__container .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title {
    color:#000
}

#footer__container .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title:after,#footer__container .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title:after {
    -webkit-transform: rotate(45deg) scale(1.08);
    -ms-transform: rotate(45deg) scale(1.08);
    transform: rotate(45deg) scale(1.08)
}

#footer__container .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-list,#footer__container .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-list {
    position: static;
    visibility: visible;
    z-index: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease
}

#footer__container .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-open,#footer__container .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-open {
    display: none
}

#footer__container .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-close,#footer__container .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-close {
    display: block
}
  #footer__container .ac-gf-directory.with-5-columns .ac-gf-directory-column {
    width:100%
    }
  #footer__container .ac-gf-breadcrumbs+.ac-gf-directory {
      padding-top:0
    }
  #footer__container .footer__container__section__2__shop {
      padding-bottom:10px
  }
  #footer__container .footer__container__section__2 {
      padding-bottom:19px;
      padding-bottom: calc(19px + constant(safe-area-inset-bottom));
  }
  #footer__container .footer__container__section__2__legal {
      padding-top:12px;
  }
  #footer__container .footer__container__section__2__locale {
      left:-1px;
      padding-top: 5px;
      float: none;
  }
  #footer__container .footer__container__section__2__legal-copyright,#footer__container .footer__container__section__2__links {
      margin-right:0;
      float: none;
  }
  #footer__container .ac-gf-breadcrumbs+.footer__container__section__2 {
      border-top:none;
  }
  #footer__container.ac-gf-directory+.footer__container__section__2 {
      padding-top:17px
  }

  #footer__container .ac-gf-directory+.footer__container__section__2 .footer__container__section__2__shop {
      border-bottom:none
  }
}

@media only screen and (max-width: 1023px) {
  #footer__container .footer__container_section_columns-column {
      width:50%
  }

  #footer__container .footer__container_section_columns-column:nth-child(3) {
      clear: left
  }
  #footer__container .footer__container_section_columns.with-3-columns .footer__container_section_columns-column:nth-child(3) {
    clear:none
  }
  #footer__container .footer__container_section_columns.with-2-columns {
      margin:0 auto;
      padding-left: 0;
      padding-right: 0
  }
  #footer__container.flexbox .footer__container_section_columns-column {
      -webkit-flex-basis:50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%
  }
}
@media only screen and (max-width: 1044px) {
  #footer__container {
      min-width:320px
  }
}
