body{
  margin:0;
  padding:0;
  font-family:"SF Compact Display","SF Compact Text","SF Pro Display","SF Pro Text" sans-serif;
}

@font-face {
  font-family: "SF Display Regular";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display Medium";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

@font-face {
  font-family: "SF Display Light";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}




h1{
  font-family: "SF Display Medium";
  font-size: 4rem;
  text-align: center;
  width: 100%;
  
  
}

h2{
  font-family: "SF Display Medium";
  font-size: 3rem;
  text-align: center;
  margin: 0%;
  letter-spacing: .1rem;
}

h3{
  font-family: "SF Display Medium";
  font-size: 2.1875rem;
  text-align: center;
  margin: 0%;
  letter-spacing: .1rem;
}
p{
  
font-size: 	1rem;
line-height: 140%;
font-kerning: 150%;
font-family: "SF Display Regular";
line-height: 150%;
letter-spacing: .1rem;
text-align: center;
margin: 0%;
}

a{
  font-family: "SF Display Medium";
  margin: 0%;
  text-decoration: none;
  color:white ;
  
}
header {
  background-color: #2D2D2D;
  width: 100%;
  margin-top: 0%;
  height: auto;
}
header nav {
  height: 3%;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: white;
}
  .Homepod{
    margin: 0 -30px;
    justify-content: space-around;
  }

.main__section__one__content{
  height: 100%;
  width: 100%;
  background-color:#000000;
  font-size: 1rem;
  color: white;
  
  
}

header nav ul, .main__section__two__content {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

 ul li {
  text-decoration: none;
  list-style: none;
 }

.main__section__one__content{
  justify-content: center;
  text-align: center;
}
#link_subheader{
  color:#66BBFF;
  padding-top: 50%;
  margin-top:25%

 }

.main__img__one{
  height: 35%;
  width:35%;
}
button{
  border-radius:8%;
  background:black;
  color:#BBBBBB;
  justify-content: center;
  text-align: center;
  border: 1.5px solid; 
  width:10%;
  font-family:"SF Pro Text Regular";
  font-size:1em;
}
#logo-header{
  width: 16px;
  padding-top: 15%;
 
}
ul {
 margin: 0; }

.search{
  width: 55%;
  height: 55%;
}
.main__section__first__content__paragraph{
text-justify:center;
text-align: center;
width:100%;
height:30%;

}
.main__content__subparagraph{
  text-align: center;
  padding-top: 10%;
}
#subheader_h2{
  padding-top: 1%
}
#subheader_p{
  width: 19%;
  height: 2%;
padding-left: 41%


}
#subheader_button{
  padding-top: 2%;
  
}
#subheader_a{
  padding-top: 3%;
  padding-bottom: 2%;
}
  
.main__section__two{
  padding: 2%;
  display: flex;
  justify-content: center;
}


.main__section__two .main__section__two__content  img{
  height: 25.875rem;
  padding: 5%;
  text-align: center;
}

.main__section__three__content h2{
  padding: 3%;
  text-align: center;
}
.main__section__three__content .Sous-Titre{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.main__section__three__content .lastCara {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 0,8%;
}

.main__section__four__content{
  padding: 5%;
}

.main__section__four__content ul li h2{
  padding: 2%;
  text-align: center;
}

.main__section__four__content ul li h3{
  text-align: center;
  padding: 2%;
}


